<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
    <h1>{{welcomeMessage}}</h1>
    <button onclick="openPhpMyAdmin()">{{createDB}}</button>
    <button onclick="openlocalhost()">{{addDatabutton}}</button>
   <button onclick="openSearch()">Search</button>

    <script>
        function openPhpMyAdmin() {
            // Replace the URL with your actual phpMyAdmin URL
            window.open("http://localhost:8080/phpmyadmin","_blank");
        }

        function openlocalhost() {
            window.open("http://localhost:3000/index","_blank");
        }

      function openSearch() {
       window.open("http://localhost:3000/search");
       }
    </script>
</body>
</html>
